[keystores]
	[keystores.store2]
		path = "clave.jks"
		[keystores.store2.aliases.key2]
			name = "mykey"
[projects]
	[projects.default]
		sync = true
		preserve = true
		followtags = true
		build = true
		keystore = "store2"
		keyalias = "key2"
		javahome = "/usr/lib/jvm/java-17-openjdk"
	[projects."com.fsck.k9"]
		tagregex = "^THUNDERBIRD_(\\d+)(_[^v])?$"
		javahome = "/usr/lib/jvm/java-21-openjdk"
		[projects."com.fsck.k9".tasks.release]
			exec = "app-k9mail:assembleFossRelease"
	[projects."com.kunzisoft.keepass.libre"]
		[projects."com.kunzisoft.keepass.libre".tasks.librerelease]
			exec = "assembleLibreRelease"
	[projects."com.jarsilio.android.scrambledeggsif"]
		[projects."com.jarsilio.android.scrambledeggsif".tasks.standardreleases]
			exec = "assembleStandardRelease"
	[projects."org.fdroid.fdroid"]
		[projects."org.fdroid.fdroid".tasks.fullrelease]
			exec = "assembleFullRelease"
	[projects."com.keylesspalace.tusky"]
		[projects."com.keylesspalace.tusky".tasks.bluerelease]
			exec = "assembleBlueRelease"
	[projects."net.typeblog.shelter"]
		followtags = false
	[projects."org.schabi.newpipe"]
		followtags = false
	[projects."org.fossify.gallery"]
		[projects."org.fossify.gallery".tasks.fossrelease]
			exec = "assembleFossRelease"
	[projects."org.fossify.calendar"]
		[projects."org.fossify.calendar".tasks.fossrelease]
			exec = "assembleFossRelease"
	[projects."is.xyz.mpv"]
		[projects."is.xyz.mpv".tasks.defaultrelease]
			exec = "assembleDefaultRelease"
	[projects."org.jellyfin.mobile"]
		[projects."org.jellyfin.mobile".tasks.librerelease]
			exec = "assembleLibreRelease"
	[projects."io.github.snd_r.komelia"]
		[projects."io.github.snd_r.komelia".tasks.release]
			exec = "komelia-app:assembleRelease"
	[projects."io.element.android.x"]
		[projects."io.element.android.x".tasks.release]
			exec = "app:assembleFdroidRelease"
	[projects."org.joinmastodon.android.moshinda"]
		[projects."org.joinmastodon.android.moshinda".tasks.fdroidrelease]
			exec = "mastodon:assembleFdroidRelease"
	[projects."app.alextran.immich"]
		subdir = "mobile/android"
		[projects."app.alextran.immich".tasks.productionrelease]
			exec = "tasks"
	[projects."com.fredrikburmester.streamyfin"]
		subdir = "android"
	[projects."com.rajarsheechatterjee.LNReader"]
		subdir = "android"
	[projects."xyz.blueskyweb.app"]
		preserve = false
		subdir = "android"
		javahome = "/usr/lib/jvm/zulu-17"
	[projects."org.futo.inputmethod.latin"]
		[projects."org.futo.inputmethod.latin".tasks.stablerelease]
			exec = "assembleStableRelease"
	[projects."com.termux"]
		javahome = "/usr/lib/jvm/java-11-openjdk"
	[projects."at.bitfire.davdroid"]
		javahome = "/usr/lib/jvm/java-21-openjdk"
	[projects."com.google.android.apps.photos"]
		[projects."com.google.android.apps.photos".tasks.photosonlyrelease]
			exec = "assemblePhotosonlyRelease"
	[projects."com.nononsenseapps.feeder"]
		[projects."com.nononsenseapps.feeder".tasks.fdroidrelease]
			exec = "assembleFdroidRelease"
	[projects."info.zamojski.soft.towercollector"]
		[projects."info.zamojski.soft.towercollector".tasks.fdroidrelease]
			exec = "assembleProductionFdroidRelease"
	[projects."xyz.malkki.neostumbler.fdroid"]
		[projects."xyz.malkki.neostumbler.fdroid".tasks.fdroidrelease]
			exec = "assembleFdroidDefaultRelease"
	[projects."io.heckel.ntfy"]
		followtags = false
		[projects."io.heckel.ntfy".tasks.fdroidrelease]
			exec = "assembleFdroidRelease"
	[projects."com.craxiom.networksurvey"]
		[projects."com.craxiom.networksurvey".tasks.cdrrelease]
			exec = "assembleCdrRelease"
	[projects."com.eddyizm.degoogled.tempus"]
		[projects."com.eddyizm.degoogled.tempus".tasks.degoogledrelease]
			exec = "assembleDegoogledRelease"
	[projects."im.molly.app"]
		followtags = false
		[projects."im.molly.app".tasks.fossrelease]
			exec = "assembleprodFossStoreRelease"
	[projects.Boorusama]
		followtags = false
		subdir = "android"
		[projects.Boorusama.tasks.productionrelease]
			exec = "tasks"
	[projects.firefox]
		tagregex = "^FIREFOX-ANDROID_(\\d+)(_[^v])*(_RELEASE)?$"
	[projects.Fedilab]
		[projects.Fedilab.tasks.fdroidrelease]
			exec = "assembleFdroidRelease"
	[projects.AuroraStore]
		javahome = "/usr/lib/jvm/java-21-openjdk"
		[projects.AuroraStore.tasks.vanillarelease]
			exec = "assembleVanillaRelease"
	[projects.Openlib]
		subdir = "android"
	[projects.lawnchair]
		followtags = false
		[projects.lawnchair.tasks.lawnwithquicksteprelease]
			exec = "assembleLawnWithQuickstepGithubRelease"
	[projects."com.tailscale.ipn"]
		subdir = "android"
	[projects.LibreTorrent]
		[projects.LibreTorrent.tasks.baserelease]
			exec = "assembleBaseRelease"
	[projects.mihon-extensions]
		followtags = false
		[projects.mihon-extensions.tasks.komga]
			exec = "src:all:komga:assembleRelease"


